{% extends "__base.html" %}

{% block content %}

<h1>Connexion</h1>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
<button type="submit" value="Se connecter">
</form>

{# vous avez configuré la vue password_reset dans votre URLconf #}
<p><a href="{% url 'password_reset' %}">Mot de passe oublié ?</a></p>

{% endblock %}
