{% extends '__base.html' %}

{% block body %}

<div class="container">
    <h1>Visualisation des statistiques GoldenLine</h1>
</div>

<div class="container">
  <h2>Tableau Requête Collecte</h2>
 <div class="d-flex justify-content-rigth ">

  <table id="table-requete-collecte" class="table table-striped">
    <thead>
      <tr>
        <th>Collect ID</th>
        <th>Montant achat</th>
        <th>Catégorie produit</th>
      </tr>
    </thead>
    <tbody>
      {% for requete in requetes_collecte %}
      <tr>
        <td>{{ requete.nb_collect_id }}</td>
        <td>{{ requete.purchase_amount }}</td>
        <td>{{ requete.product_category_name_id }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
<script>
$(document).ready(function() {
  $('#table-requete-collecte').DataTable({
    dom: 'Bfrtip',
    buttons: [
      'csvHtml5', 'excelHtml5', 'pdfHtml5'
    ]
  });
});
</script>

<div class="container">
  <h2>Tableau Requête Anonymisées</h2>
    <div class="d-flex justify-content-rigth">
  <table id="table-requete-anonymisees" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre enfant</th>
        <th>Catégorie socioprofessionnelle</th>
        <th>Montant achat</th>
        <th>Date achat</th>
        <th>Collect ID</th>
      </tr>
    </thead>
    <tbody>
      {% for requete in requetes_anonymisees %}
      <tr>
        <td>{{ requete.id }}</td>
        <td>{{ requete.child_number }}</td>
        <td>{{ requete.csp_name_id }}</td>
        <td>{{ requete.purchase_amount }}</td>
        <td>{{ requete.purchase_date }}</td>
        <td>{{ requete.nb_collect_id }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
$(document).ready(function() {
  $('#table-requete-anonymisees').DataTable({
    dom: 'Bfrtip',
    buttons: [
      'csvHtml5', 'excelHtml5', 'pdfHtml5'
    ]
  });
});
</script>

<div class="container">
  <h2>Tableau dépenses par catégorie en fonction de la catégorie socioprofessionnelle</h2>
    <div class="d-flex justify-content-rigth">
  <table id="table-depense-categorie-csp" class="table table-striped">
    <thead>
      <tr>
        <th>Catégorie socioprofessionnelle</th>
        <th>Montant achat</th>
      </tr>
    </thead>
    <tbody>
      {% for requete in depense_categorie_csp %}
      <tr>
        <td>{{ requete.csp_name_id }}</td>
        <td>{{ requete.purchase_amount }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
$(document).ready(function() {
  $('#table-depense-categorie-csp').DataTable({
    dom: 'Bfrtip',
    buttons: [
      'csvHtml5', 'excelHtml5', 'pdfHtml5'
    ]
  });
});
</script>

<div class="container">
  <h2>Dépense panier moyen en fonction de la catégorie socioprofessionnelle</h2>
    <div class="d-flex justify-content-rigth">
  <table id="table-depense-panier-moyen-csp" class="table table-striped">
    <thead>
      <tr>
        <th>Catégorie socioprofessionnelle</th>
        <th>Montant achat</th>
      </tr>
    </thead>
    <tbody>
      {% for requete in depense_panier_moyen_csp %}
      <tr>
        <td>{{ requete.csp_name_id }}</td>
        <td>{{ requete.panier_moyen }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="container">
  <h2>Graphique - Dépense du panier moyen par catégorie socioprofessionnelle</h2>
    
  <canvas id="myChart"></canvas>
</div>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [
        {% for requete in depense_panier_moyen_csp %}
        "{{ requete.csp_name_id }}"{% if not forloop.last %},{% endif %}
        {% endfor %}
      ],
      datasets: [{
        label: 'Montant achat',
        data: [
          {% for requete in depense_panier_moyen_csp %}
          {{ requete.panier_moyen }}{% if not forloop.last %},{% endif %}
          {% endfor %}
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

{% endblock body %}
